.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding-block-start: 3rem;
}

.cart p {
  margin: 0;
}

.cart-item {
  display: flex;
}

.cart-item > * {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 1rem;
}

.cart-item img {
  max-width: 200px;
  aspect-ratio: 1 / 1;
  background-color: white;
}

.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;
}

.cart-desc a {
  width: max-content;
}

.cart-total {
  display: flex;
  justify-content: flex-end;

  margin-inline-end: 2rem;
}

@media (min-width: 600px) {
  .cart {
    padding-block: 6rem 3rem;
  }
}