.product-wrapper {
  padding-block: 6rem 3rem;
}

.product {
  display: flex;
  gap: 1rem;

  border: 1px solid lightgrey;
  background-color: white;
}

.product > img {
  max-width: 425px;
  padding: 2rem;
  object-fit: contain;
}

.product-body {
  padding: 2rem;
  background-color: #efefef;
}

.product-description > h3 {
  margin: 0;
}

/**/

.btn-grp {
  display: flex;
  align-items: center;
  padding-block: 2rem;
}

.product-count {
  padding: 0.31rem 1rem;
  border: 1px solid lightgrey;
}
.btn-increment,
.btn-decrement {
  width: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: lightgrey;
}